<!-- <form method="post" action="/local/<%= local.id %>?_method=put">
	<% include _localForm.ejs %>
</form>
 -->
 <script>
 	var position = { lat: +"<%= local.latitude %>", lng: +"<%= local.longitude %>"};
 </script>

<div class="row">
	<button class="btn btn-default pull-right" id="preset_position">Posicion actual</button>
</div>
<div class="row">
	<form class="col-lg-7 col-sm-7" method="post" action="/local/<%= local.id %>?_method=put">
		<div class="form-group" id="logo">
            <label for="logo">Logo</label><br>
			<img alt="logo" class="img-thumbnail" width="150px" height="150px" src="<%= image.path %>"><br>
			<a href="/local/<%= local.id %>/logo" class="btn btn-default">Cambiar logo</a>
		</div>
	    <% include _localForm.ejs %>
	</form>
	<div class="col-lg-5 col-sm-7" id="map"></div>
    <link rel="stylesheet" type="text/css" href="../stylesheets/mypath.css" />
	<script type="text/javascript" src="../javascripts/drinksapp.js"></script>
	<script src="../javascripts/newDrinkApp.js"></script>
</div>